@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
:root {
  font-family: 'Big Shoulders Stencil Text', cursive;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  cursor: pointer;
}

.hide {
  display: none;
}

.fade {
  opacity: 0.3;
}

#grid-container-div {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10vh 90vh;
      grid-template-rows: 10vh 90vh;
}

header {
  grid-area: 'header';
}

#game-title {
  text-align: center;
  font-size: 3rem;
}

/* -------------------- TABLE STYLING ------------------------ */
.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  background: #f2f2f2;
}

#ai-grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#player-grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#ui-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#ui-controls #ship-setup-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#ui-controls #ship-setup-container #ship-select-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#ui-controls #ship-setup-container .ship-select-btn, #ui-controls #ship-setup-container #toggle-ship-direction {
  width: 100%;
  padding: 0.3rem;
  margin: 0.4rem;
  font-size: 1.2rem;
  -webkit-box-shadow: 0rem 0rem 0.2rem 0rem #949494;
          box-shadow: 0rem 0rem 0.2rem 0rem #949494;
  background: #f7ffff;
  border-radius: 0.5rem;
  border: none;
}

#ui-controls #ship-setup-container .ship-select-btn:hover, #ui-controls #ship-setup-container #toggle-ship-direction:hover {
  background: brown;
  color: white;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

#ui-controls #ship-setup-container #toggle-ship-direction {
  width: auto;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

table td {
  border: 1px solid black;
  padding: 0;
}

#player-grid {
  width: 35vw;
  height: 35vw;
}

#player-grid td {
  background: -webkit-gradient(linear, left top, left bottom, from(#3a78c9), to(#267aad));
  background: linear-gradient(#3a78c9, #267aad);
  width: calc(35vw/11);
  height: calc(35vw/11);
}

#ai-grid {
  background: white;
  width: 20vw;
  height: 20vw;
}

#ai-grid td {
  height: calc(20vw/11);
  width: calc(20vw/11);
  font-size: 0.7rem;
}

#ai-grid tr:nth-child(odd) td:nth-child(even) {
  background: #f2f2f2;
}

#ai-grid tr:nth-child(even) td:nth-child(odd) {
  background: #f2f2f2;
}

.text-div {
  z-index: 2;
  position: absolute;
  top: 1%;
  left: 1%;
}

.td-container-div {
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*  --------------------------------- SHIP STYLING -------------------------------------    */
.active {
  opacity: 0.7;
  -webkit-box-shadow: 0px 0px !important;
          box-shadow: 0px 0px !important;
}

.ship-sunk {
  background: green;
  opacity: 0.5;
  -webkit-box-shadow: 0px 0px !important;
          box-shadow: 0px 0px !important;
}

/*  --------------- VERTICAL ------------------- */
.ship-body-vertical {
  width: 80%;
  height: 100%;
  background: #595959;
}

.ship-head-vertical {
  background: -webkit-gradient(linear, left top, left bottom, from(#828282), to(#595959));
  background: linear-gradient(#828282, #595959);
  position: absolute;
  width: 80%;
  bottom: 0px;
  height: 80%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  -webkit-box-shadow: 0 -0.1rem 0.3rem 0.05rem white;
          box-shadow: 0 -0.1rem 0.3rem 0.05rem white;
}

.ship-tail-vertical {
  background: -webkit-gradient(linear, left top, left bottom, from(#595959), to(#828282));
  background: linear-gradient(#595959, #828282);
  position: absolute;
  width: 80%;
  top: 0px;
  height: 80%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  -webkit-box-shadow: 0 0.1rem 0.3rem 0.05rem white;
          box-shadow: 0 0.1rem 0.3rem 0.05rem white;
}

/*  --------------- HORIZONTAL ------------------- */
.ship-body-horizontal {
  width: 100%;
  height: 80%;
  background: #595959;
}

.ship-head-horizontal {
  background: -webkit-gradient(linear, left top, right top, from(#828282), to(#595959));
  background: linear-gradient(0.25turn, #828282, #595959);
  position: absolute;
  width: 80%;
  right: 0px;
  height: 80%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  -webkit-box-shadow: -0.1rem 0 0.3rem 0.05rem white;
          box-shadow: -0.1rem 0 0.3rem 0.05rem white;
}

.ship-tail-horizontal {
  background: -webkit-gradient(linear, left top, right top, from(#595959), to(#828282));
  background: linear-gradient(0.25turn, #595959, #828282);
  position: absolute;
  width: 80%;
  left: 0px;
  height: 80%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  -webkit-box-shadow: 0.1rem 0 0.3rem 0.05rem white;
          box-shadow: 0.1rem 0 0.3rem 0.05rem white;
}

.wave-1-phase1 {
  background: lightgray;
  height: 5%;
  width: 10%;
  position: absolute;
  z-index: 0;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  top: 75%;
  right: 60%;
  border-bottom-left-radius: 50%;
}

.wave-2-phase1 {
  background: lightgray;
  height: 5%;
  width: 10%;
  position: absolute;
  z-index: 0;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  top: 75%;
  right: 70%;
  border-bottom-right-radius: 50%;
}

.wave-3-phase1 {
  background: lightgray;
  height: 5%;
  width: 10%;
  position: absolute;
  z-index: 0;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  bottom: 0%;
  left: 5%;
  border-bottom-right-radius: 50%;
}

.wave-4-phase1 {
  background: lightgray;
  height: 5%;
  width: 10%;
  position: absolute;
  z-index: 0;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  bottom: 0%;
  left: 15%;
  border-bottom-left-radius: 50%;
}

.wave-1-phase2 {
  background: lightgray;
  height: 5%;
  width: 10%;
  position: absolute;
  z-index: 0;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  top: 0%;
  right: 5%;
  border-bottom-left-radius: 50%;
}

.wave-2-phase2 {
  background: lightgray;
  height: 5%;
  width: 10%;
  position: absolute;
  z-index: 0;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  top: 0%;
  right: 15%;
  border-bottom-right-radius: 50%;
}

.wave-3-phase2 {
  background: lightgray;
  height: 5%;
  width: 10%;
  position: absolute;
  z-index: 0;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  bottom: 75%;
  left: 60%;
  border-bottom-right-radius: 50%;
}

.wave-4-phase2 {
  background: lightgray;
  height: 5%;
  width: 10%;
  position: absolute;
  z-index: 0;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  bottom: 75%;
  left: 70%;
  border-bottom-left-radius: 50%;
}

/*  ----------------------  MISS STYLING ------------------- */
.miss {
  font-size: 2em;
  color: red;
  font-family: 'Questrial', sans-serif;
}

/*  --------------------- HIT ANIMATION -------------- */
.cannonball {
  background: #1c1c1c;
  border-radius: 50%;
  -webkit-animation: drop 2s ease-in;
          animation: drop 2s ease-in;
  z-index: 1;
  position: absolute;
}

@-webkit-keyframes drop {
  from {
    height: 50%;
    width: 50%;
  }
  to {
    height: 10%;
    width: 10%;
  }
}

@keyframes drop {
  from {
    height: 50%;
    width: 50%;
  }
  to {
    height: 10%;
    width: 10%;
  }
}

.flame {
  bottom: 20%;
  position: absolute;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  -webkit-transform: rotate(-45deg) scale(1.5, 1.5);
          transform: rotate(-45deg) scale(1.5, 1.5);
  z-index: 1;
}

.red {
  width: 40%;
  height: 40%;
  background: OrangeRed;
  -webkit-box-shadow: 0px 0px 0.25rem 0.125rem OrangeRed;
          box-shadow: 0px 0px 0.25rem 0.125rem OrangeRed;
}

.orange {
  width: 30%;
  height: 30%;
  background: orange;
  -webkit-box-shadow: 0px 0px 0.5rem 0.125rem orange;
          box-shadow: 0px 0px 0.5rem 0.125rem orange;
}

.yellow {
  width: 20%;
  height: 20%;
  background: gold;
  -webkit-box-shadow: 0px 0px 0.5rem 0.125rem gold;
          box-shadow: 0px 0px 0.5rem 0.125rem gold;
}

.white {
  width: 10%;
  height: 10%;
  background: white;
  -webkit-box-shadow: 0px 0px 0.4rem 0.125rem white;
          box-shadow: 0px 0px 0.4rem 0.125rem white;
}

.ship-sunk {
  background: red;
}

/* ---------------------    NOTIFICATION    ---------------------------- */
#notification-box {
  text-align: center;
  height: 10vh;
  width: 20vw;
  position: absolute;
  background: white;
  border: 0.5rem solid brown;
  top: 10%;
  left: 40%;
  z-index: 4;
  border-radius: 2rem;
}

#notification-box h1 {
  color: brown;
}
/*# sourceMappingURL=style.css.map */