@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
    font-family: 'Big Shoulders Stencil Text', cursive;
}

@mixin flexCenter($direction){
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
}

$sea-color: radial-gradient(#3a78c9 30%, #336bb5);
$cannonball-color: #1c1c1c;
$ship-main-color: #595959;
$ship-gradient-color:#828282;

$container-color: #f2f2f2;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

.hide {
    display: none !important;
}

.fade {
    opacity: 0.3;
}

#grid-container-div {
    display: grid;
    grid-template-rows: 10vh 90vh;
}

header {
    grid-area: 'header';
}

#game-title {
    text-align: center;
    font-size: 3em;
}

/* -------------------- TABLE STYLING ------------------------ */

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background: white;
}

#ai-grid-container {
    text-align: center;
    background: linear-gradient(160deg, transparent 12.5%, $container-color 12.5%);
    font-size: 1.5em;
    @include flexCenter(column);
}

#player-grid-container {
    background: $container-color;
    font-size: 1.5em;
    @include flexCenter(column);
    border-left: 0.3em solid white;
    border-right: 0.3em solid white;
}

.ship-select-btn {
    width: 100%;
    padding: 0.3em;
    margin: 0.4em;
    font-size: 1.2em;
    box-shadow: 0em 0em 0.2em 0em #949494;
    background:#f7ffff;
    border-radius: 0.5em;
    border: none;
}

.ship-select-btn:hover:enabled {
    background: brown;
    color: white;
    transition: 0.4s ease;
}

#ui-controls {
    background: linear-gradient(-160deg, transparent 12.5%, $container-color 12.5%);
    @include flexCenter(column);
    #guess-form {
        @include flexCenter(column);
        font-size: 1.5em;
        font-family: sans-serif;
        input {
            font-size: 1.5em;
            box-shadow: 0em 0em 0.2em 0em #949494;
            width: 30%;
            border-style: none;
            text-align: center;
            border-radius: 0.3em;
        }
        button {
            font-size: 1.5em;
            @extend .ship-select-btn;
        }
        button:hover:enabled {
            @extend .ship-select-btn:hover;
        }
    } 
}

#ship-setup-container {
    font-size: 1.5em;
    text-align: center;
    @include flexCenter(column);
    #ship-select-btns {
        @include flexCenter(column);
    }
    #toggle-ship-direction {
        @extend .ship-select-btn;
        width: auto;
    }
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    td {
        border: 1px solid black; 
        padding: 0; 
    }
}

#player-grid {
    width: 35vw;
    height: 35vw;
     td {
        background: $sea-color;
        width: calc(35vw/11);
        height: calc(35vw/11);
    }
} 

#ai-grid {
    background: white;
    width: 20vw;
    height: 20vw;
    td {
        height: calc(20vw/11);
        width: calc(20vw/11);
        font-size: 1em;
    }
    tr:nth-child(odd) td:nth-child(even) {
        background: #f2f2f2;
    }
    tr:nth-child(even) td:nth-child(odd) {
        background: #f2f2f2;
    }
}

.text-div {
    z-index: 2;
    position: absolute;
    top: 1%;
    left: 1%;
}

.td-container-div {
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  --------------------------------- SHIP STYLING -------------------------------------    */

//  WHEN PICKING SHIP POSITION
.active {
    opacity: 0.7;
    box-shadow: 0px 0px !important;
}

.ship-set {
    //  STYLE USED FOR TILEAVAILABLE RULE
}

.ship-sunk {
    background: green;
    opacity: 0.5;
    box-shadow: 0px 0px !important;
}

/*  --------------- VERTICAL ------------------- */

//  SHIP MIDDLE TILES
.ship-body-vertical {
    width: 80%;
    height: 100%;
    background: $ship-main-color;
}

//  SHIP HEAD TILE
.ship-head-vertical {
    background: linear-gradient($ship-gradient-color, $ship-main-color);
    position: absolute;
    width: 80%;
    bottom: 0px;
    height: 80%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    box-shadow: 0 -0.1em 0.3em 0.05em white;
}

//  SHIP TAIL TILE
.ship-tail-vertical {
    background: linear-gradient($ship-main-color, $ship-gradient-color);
    position: absolute;
    width: 80%;
    top: 0px;
    height: 80%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    box-shadow: 0 0.1em 0.3em 0.05em white;
}

/*  --------------- HORIZONTAL ------------------- */

.ship-body-horizontal {
    width: 100%;
    height: 80%;
    background: $ship-main-color;
}

//  SHIP HEAD TILE
.ship-head-horizontal {
    background: linear-gradient(.25turn, $ship-gradient-color, $ship-main-color);
    position: absolute;
    width: 80%;
    right: 0px;
    height: 80%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    box-shadow: -0.1em 0 0.3em 0.05em white;
}

//  SHIP TAIL TILE
.ship-tail-horizontal {
    background: linear-gradient(.25turn, $ship-main-color, $ship-gradient-color);
    position: absolute;
    width: 80%;
    left: 0px;
    height: 80%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    box-shadow: 0.1em 0 0.3em 0.05em white;
}

//  ------------------------  WAVES STYLING  ------------------------------------ //

@mixin wave {
    background: lightgray;
    height: 5%;
    width: 10%;
    position: absolute;
    z-index: 0;
}

.wave-1-phase1 {
    @include wave;
    transform: rotate(15deg);
    top: 75%;
    right: 60%;
    border-bottom-left-radius: 50%; 
}

.wave-2-phase1 {
    @include wave;
    transform: rotate(-15deg);
    top: 75%;
    right: 70%;
    border-bottom-right-radius: 50%;
}

.wave-3-phase1 {
    @include wave;
    transform: rotate(-15deg);
    bottom: 0%;
    left: 5%;
    border-bottom-right-radius: 50%;
}
.wave-4-phase1 {
    @include wave;
    transform: rotate(15deg);
    bottom: 0%;
    left: 15%;
    border-bottom-left-radius: 50%;
}

.wave-1-phase2 {
    @include wave;
    transform: rotate(15deg);
    top: 0%;
    right: 5%;
    border-bottom-left-radius: 50%; 
}

.wave-2-phase2 {
    @include wave;
    transform: rotate(-15deg);
    top: 0%;
    right: 15%;
    border-bottom-right-radius: 50%;
}

.wave-3-phase2 {
    @include wave;
    transform: rotate(-15deg);
    bottom: 75%;
    left: 60%;
    border-bottom-right-radius: 50%;
}
.wave-4-phase2 {
    @include wave;
    transform: rotate(15deg);
    bottom: 75%;
    left: 70%;
    border-bottom-left-radius: 50%;
}

/*  ----------------------  MISS STYLING ------------------- */@at-root

.miss {
    font-size: 2em;
    color: red;
    font-family: 'Questrial', sans-serif;    
}

/*  --------------------- HIT ANIMATION -------------- */

.cannonball {
    background: $cannonball-color;
    border-radius: 50%;
    animation: drop 2s ease-in;
    z-index: 1;
    position: absolute;
}

@keyframes drop {
    from {
        height: 50%;
        width: 50%;
    }
    to {
        height: 10%;
        width: 10%;
    }
}

.flame {
    bottom: 20%;
    position:absolute;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    transform:rotate(-45deg) scale(1.5,1.5);
    z-index: 1;
}
  
.red {
    width: 40%;
    height: 40%;
    background:OrangeRed;
    box-shadow: 0px 0px 0.25em 0.125em OrangeRed;
}

.orange {
  width: 30%;
  height: 30%;
  background:orange;
  box-shadow: 0px 0px 0.5em 0.125em orange;
}

.yellow {
    width: 20%;
    height: 20%;
    background:gold;
    box-shadow: 0px 0px 0.5em 0.125em gold;
}

.white {
    width: 10%;
    height: 10%;
    background:white;
    box-shadow: 0px 0px 0.4em 0.125em white;
}

.ship-sunk {
    background: red;
}

/* ---------------------    NOTIFICATION    ---------------------------- */

#notification-box {
    text-align: center;
    height: 10vh;
    width: 20vw;
    position: absolute;
    background: white;
    border: 0.5em solid brown;
    top: 10%;
    left: 40%;
    z-index: 4;
    border-radius: 2em;
        h1 {
            color: brown;
        }
    }

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 599px) {
        :root {
            font-size: 0.6em;
        }
        .miss {
            font-size: 1.2em;
        }
        .container {
            display: grid;
            grid-template-columns: 35% 30% 35%;
            grid-template-rows: 33% 33% 33%;
            grid-template-areas: 
            "player-grid player-grid ui-controls"
            "player-grid player-grid ui-controls"
            "ai-grid ai-grid ai-grid";
            background: white;
        }
        
        #ai-grid-container {
            grid-area: ai-grid;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            width: 70vw;
            background: white;
            table {
                font-size: 0.3em;
                justify-self: flex-start;
                width: 35vw; 
                height: 35vw;
            }
        }
    
        #player-grid-container {
            grid-area: player-grid;
            background: $container-color;
            @include flexCenter(column);
            border-right: 0.7em solid white; 
            table {
                width: 50vw;
                height: 50vw;
            }
        }
        #ui-controls {
            grid-area: ui-controls;
            background: $container-color;
        }
        #ship-setup-container {
            font-size: 1em;
        }
    }
    
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) and (max-width: 768px) {
        :root {
            font-size: 0.8rem;
        }
        .miss {
            font-size: 1.2em;
        }
        .container {
            display: grid;
            grid-template-areas: 
            "player-grid player-grid ui-controls"
            "ai-grid ai-grid ai-grid";
            background: white;
        }
        
        #ai-grid-container {
            grid-area: ai-grid;
            justify-items: flex-start;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            height: 100%;
            width: 100%;
            background: white;
            table {
                font-size: 1rem;
                justify-self: flex-start;
                width: 35vw; 
                height: 35vw;
            }
        }
        #player-grid-container {
            grid-area: player-grid;
            background: $container-color;
            align-self: flex-start;
            border-right: 0.7rem solid white;
            height: 52vh;
            table {
                width:50vw;
                height: 50vw;
            }
        }
        #ui-controls {
            height: 52vh;
            grid-area: ui-controls;
            background: $container-color;
        }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
    :root {
        font-size: 0.8rem;
    }
    .miss {
        font-size: 1.2em;
    }
    .container {
        display: grid;
        grid-template-areas: 
        "player-grid player-grid ui-controls"
        "ai-grid ai-grid ai-grid";
        background: white;
    }
    
    #ai-grid-container {
        grid-area: ai-grid;
        justify-items: flex-start;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        height: 100%;
        width: 100%;
        background: white;
        table {
            font-size: 1rem;
            justify-self: flex-start;
            width: 35vw; 
            height: 35vw;
        }
    }
    #player-grid-container {
        grid-area: player-grid;
        background: $container-color;
        align-self: flex-start;
        border-right: 0.7rem solid white;
        height: 52vh;
        table {
            width:40vw;
            height: 40vw;
        }
    }
    #ui-controls {
        height: 52vh;
        grid-area: ui-controls;
        background: $container-color;
    }
    #ship-setup-container {
        font-size: 1em;
    }
}

// /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    :root {
        font-size: 0.8rem;
    }
    .miss {
        font-size: 1.3em;
    #ai-grid {
        font-size: 0.8rem;
        width: 20vw;
        height: 20vw;
        td {
            font-size: 0.5rem;
            }
        }
    }
}

#submit-btn {
    width: 80% !important;
}

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {

// }









