/*  --------------------    FONT IMPORTS ---------------------- */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

/*  -----------------------    MIXINS AND VARIABLES ----------------------- */

@mixin flexCenter($direction){
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
}

$sea-color: radial-gradient(#3a78c9 30%, #336bb5);
$cannonball-color: #1c1c1c;
$ship-main-color: #595959;
$ship-gradient-color:#828282;
$container-color: #f2f2f2;
$main-font: 'Big Shoulders Stencil Text', cursive;
$notification-font: 'Teko', sans-serif;

:root {
    font-family: $main-font;
}
@media only screen and (max-width: 1200px) {
    :root {
        font-size: 0.8rem;
    }
}
@media only screen and (max-width: 600px) {
    :root {
        font-size: 0.6em;
    }
}
@media only screen and (max-width: 450px){
    :root {
        font-size: 0.5em;
    }
}


/*  ----------------------  FILE IMPORTS ---------------------- */

@import "./header";
@import "./main-container";
@import "./ship-styling";
@import "./hit-styling";
@import "./waves-styling";

body {
    display: block !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

.hide {
    display: none !important;
}

.fade {
    opacity: 0.3;
}

#grid-container-div {
    display: grid;
    grid-template-rows: 13vh 87vh;
}

.hover-ship-div {
    text-align: center;
    border: 0.2rem solid black;
    background: white;
    opacity: 0.75;
    position: absolute;
    line-height: 0.5rem;
    z-index: 4;
    list-style-type: none;
    padding: 0.3em;
    margin: 0;
    font-family: $notification-font;
}

.crossed-out {
    text-decoration: line-through red;
    text-decoration-thickness: 0.2rem;
}

/*  ----------------------  MISS STYLING ------------------- */

.miss {
    font-size: 1.8em;
    color: red;
    font-family: 'Questrial', sans-serif;    
}

@media screen and (max-width: 1200px){
    .miss {
        font-size: 1.2em;
    }
}

.ship-sunk {
    background: red;
}

/* ---------------------    NOTIFICATIONS    ---------------------------- */

.gameover-notification {
    position: relative;
    left: -50%;
    z-index: 5;
    font-size: 15em;
    font-family: $notification-font;
    color: brown;
    text-shadow: 0 10px 2px white;
    animation: scaleUp 2s;
}

@keyframes scaleUp {
    from {
        font-size: 1em;
    }
    to {
        font-size: 15em;
    }
}

.gameover-container {
    position: absolute;
    left: 50%;
    top: 15%;
}

#notification-box {
    @include flexCenter(column);
    padding: 0 1em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background: #FFF720;
    text-align: center;
    border: 0.5em solid black;
    border-radius: none;
    z-index: 4;
    left: -50%;
    line-height: 3em;
    h1 {
        font-size: 4em;
        font-family: $notification-font;
        text-transform: uppercase;
    }
}

#notification-container {
    position: absolute;
    left: 50%;
    width: 35vw;
    top: 10%;
}

@media screen and (max-width: 800px){
    #notification-container {
        width: 45vw;
    }
}

@media screen and (max-width: 600px){
    #notification-container {
        width: 80%;
    }
}

@media screen and (max-height: 550px){
    #notification-container {
        font-size: 0.5em;
    }
}

@media screen and (min-width: 2000px){
    #notification-box {
        h2 {
            font-size: 3em;
        }
    }
}







