/*  --------------------    FONT IMPORTS ---------------------- */
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko&display=swap");
/*  -----------------------    MIXINS AND VARIABLES ----------------------- */
:root {
  font-family: "Big Shoulders Stencil Text", cursive;
}

@media only screen and (max-width: 1200px) {
  :root {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 600px) {
  :root {
    font-size: 0.6em;
  }
}

@media only screen and (max-width: 450px) {
  :root {
    font-size: 0.5em;
  }
}

/*  ----------------------  FILE IMPORTS ---------------------- */
header {
  grid-area: 'header';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#vector-credit {
  position: absolute;
  top: 1%;
  left: 20%;
}

@media screen and (max-width: 1200px) {
  #vector-credit {
    left: 1%;
  }
}

/*  ----------------------  TITLE ------------------------*/
#game-title {
  text-align: center;
  font-size: 5em;
  opacity: 0.3;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  z-index: 2;
  color: brown;
  text-shadow: 0 2px 2px white;
}

#behind-title-img {
  background: #1c1c1c;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  position: absolute;
  -webkit-box-shadow: 0 0 30px 30px lightgray;
          box-shadow: 0 0 30px 30px lightgray;
}

@media screen and (max-width: 900px) and (max-height: 500px) and (orientation: landscape) {
  #game-title {
    font-size: 3em;
  }
  #behind-title-img {
    display: none;
  }
}

/*  ----------------------  SHIP IMG ------------------------*/
.ship-img {
  height: 15vw;
  width: 15vw;
  position: absolute;
}

@media only screen and (max-width: 1200px) {
  .ship-img {
    height: 10em;
    width: 10em;
    position: absolute;
  }
}

@media only screen and (max-width: 900px) and (max-height: 500px) and (orientation: landscape) {
  .ship-img {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .ship-img {
    height: 10em;
    width: 10em;
  }
}

@media only screen and (max-width: 450px) {
  .ship-img {
    display: none;
  }
}

/*  ---------------------    LEFT SIDE SHIP ANIMATION --------------------------    */
#ship-1 {
  left: 2%;
  top: 2%;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  z-index: 1;
}

#header-cannonball-1-container {
  -webkit-animation: fire-left-xaxis1 1.2s ease-in;
          animation: fire-left-xaxis1 1.2s ease-in;
  position: absolute;
  left: 14%;
  top: 10.5%;
}

@-webkit-keyframes fire-left-xaxis1 {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(30vw);
            transform: translateX(30vw);
  }
}

@keyframes fire-left-xaxis1 {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(30vw);
            transform: translateX(30vw);
  }
}

#header-cannonball-1 {
  background: #1c1c1c;
  border-radius: 50%;
  -webkit-animation: fire-left-yaxis1 1.2s ease-out;
          animation: fire-left-yaxis1 1.2s ease-out;
}

@-webkit-keyframes fire-left-yaxis1 {
  from {
    width: 1px;
    height: 1px;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    width: 1vw;
    height: 1vw;
    -webkit-transform: translateY(-4vw);
            transform: translateY(-4vw);
  }
}

@keyframes fire-left-yaxis1 {
  from {
    width: 1px;
    height: 1px;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    width: 1vw;
    height: 1vw;
    -webkit-transform: translateY(-4vw);
            transform: translateY(-4vw);
  }
}

/*  ---------------------    RIGHT SIDE SHIP ANIMATION   --------------------------    */
#ship-2 {
  right: 2%;
  top: 2%;
  -webkit-transform: scaleX(-1) rotate(10deg);
          transform: scaleX(-1) rotate(10deg);
  z-index: 1;
}

#header-cannonball-2-container {
  -webkit-animation: fire-left-xaxis2 1.2s ease-in;
          animation: fire-left-xaxis2 1.2s ease-in;
  position: absolute;
  right: 14%;
  top: 10.5%;
}

@-webkit-keyframes fire-left-xaxis2 {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(-30vw);
            transform: translateX(-30vw);
  }
}

@keyframes fire-left-xaxis2 {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(-30vw);
            transform: translateX(-30vw);
  }
}

#header-cannonball-2 {
  background: #1c1c1c;
  border-radius: 50%;
  -webkit-animation: fire-left-yaxis2 1.2s ease-out;
          animation: fire-left-yaxis2 1.2s ease-out;
}

@-webkit-keyframes fire-left-yaxis2 {
  from {
    width: 1px;
    height: 1px;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    width: 1vw;
    height: 1vw;
    -webkit-transform: translateY(-4vw);
            transform: translateY(-4vw);
  }
}

@keyframes fire-left-yaxis2 {
  from {
    width: 1px;
    height: 1px;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    width: 1vw;
    height: 1vw;
    -webkit-transform: translateY(-4vw);
            transform: translateY(-4vw);
  }
}

@media only screen and (max-width: 1500px) {
  #ship-1, #ship-2 {
    top: 6%;
  }
}

@media only screen and (max-width: 900px) and (max-height: 500px) and (orientation: landscape) {
  #header-cannonball-1, #header-cannonball-2 {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  #header-cannonball-1, #header-cannonball-2 {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  #ship-1, #ship-2 {
    top: 5%;
  }
  #header-cannonball-1, #header-cannonball-2 {
    display: none;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*  -------------------------   CONTAINERS ---------------------------  */
#ai-grid-container {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  text-align: center;
  background: linear-gradient(160deg, transparent 12.5%, #f2f2f2 12.5%);
  font-size: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#player-grid-container {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  background: #f2f2f2;
  font-size: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-left: 0.3em solid white;
  border-right: 0.3em solid white;
}

#ui-controls {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  background: linear-gradient(-160deg, transparent 12.5%, #f2f2f2 12.5%);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1200px) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "player-grid player-grid ui-controls" "ai-grid ai-grid ai-grid";
    background: white;
  }
  #ai-grid-container {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: ai-grid;
    background: white;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  #player-grid-container {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: player-grid;
  }
  #ui-controls {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: ui-controls;
    background: #f2f2f2;
  }
}

/*  -------------------   SHIP GUESS FORM   ---------------------*/
#guess-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5em;
  font-family: sans-serif;
  margin-top: 8em;
  margin-bottom: 2em;
  text-align: center;
}

#guess-form input {
  font-size: 1.5em;
  -webkit-box-shadow: 0em 0em 0.2em 0em #949494;
          box-shadow: 0em 0em 0.2em 0em #949494;
  width: 30%;
  border-style: none;
  text-align: center;
  border-radius: 0.3em;
}

#guess-form button {
  font-size: 1.5em;
  width: 80%;
}

@media only screen and (max-width: 1200px) {
  #guess-form {
    margin-top: 3em;
    margin-bottom: 1em;
  }
}

@media only screen and (max-width: 450px) {
  #guess-form {
    margin: 0;
  }
}

/*  ---------------------   SHIP SETUP  ------------------  */
.ship-select-btn, #guess-form button, #ship-setup-container #toggle-ship-direction {
  width: 100%;
  padding: 0.3em;
  margin: 0.4em;
  font-size: 1.2em;
  -webkit-box-shadow: 0em 0em 0.2em 0em #949494;
          box-shadow: 0em 0em 0.2em 0em #949494;
  background: #f7ffff;
  border-radius: 0.5em;
  border: none;
}

.ship-select-btn:hover:enabled, #guess-form button:hover:enabled, #ship-setup-container #toggle-ship-direction:hover:enabled {
  background: brown;
  color: white;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

#ship-setup-container {
  width: 100%;
  position: absolute;
  top: 20%;
  font-size: 1.5em;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#ship-setup-container #ship-select-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#ship-setup-container #toggle-ship-direction {
  width: auto;
}

#submit-btn {
  width: 80% !important;
}

@media screen and (max-width: 1200px) {
  #ship-setup-container {
    font-size: 1em;
  }
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

table td {
  border: 1px solid black;
  padding: 0;
}

/*  --------------------------------    TABLES    ---------------------------    */
#player-grid {
  width: 35vw;
  height: 35vw;
}

#player-grid td {
  background: radial-gradient(#3a78c9 30%, #336bb5);
  width: calc(35vw/11);
  height: calc(35vw/11);
}

#ai-grid {
  background: white;
  width: 20vw;
  height: 20vw;
  font-size: 0.6rem;
}

#ai-grid th {
  font-size: 1.5em;
}

#ai-grid td {
  height: calc(20vw/11);
  width: calc(20vw/11);
  font-size: 1.5em;
}

#ai-grid tr:nth-child(odd) td:nth-child(even) {
  background: #f2f2f2;
}

#ai-grid tr:nth-child(even) td:nth-child(odd) {
  background: #f2f2f2;
}

@media screen and (max-width: 1200px) {
  #player-grid {
    font-size: 1rem;
  }
  #ai-grid {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 900px) {
  #ai-grid {
    height: 35vw;
    width: 35vw;
  }
  #ai-grid td {
    height: calc(35vw/11);
    width: calc(35vw/11);
  }
}

@media only screen and (max-width: 900px) and (max-height: 500px) and (orientation: landscape) {
  #ui-controls {
    font-size: 0.6em;
  }
  #player-grid {
    height: 30vw;
    width: 30vw;
    margin-bottom: 15%;
  }
  #player-grid td {
    height: calc(30vw/11);
    width: calc(30vw/11);
  }
  #ai-grid {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 600px) {
  #player-grid {
    height: 50vw;
    width: 50vw;
  }
  #player-grid td {
    height: calc(50vw/11);
    width: calc(50vw/11);
  }
  #ai-grid {
    height: 35vw;
    width: 35vw;
  }
  #ai-grid td {
    height: calc(35vw/11);
    width: calc(35vw/11);
  }
}

.text-div {
  z-index: 2;
  position: absolute;
  top: 1%;
  left: 1%;
}

.td-container-div {
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*  -----------------   AI SHIPS LEFT DIV ---------------------*/
#ai-ships-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  text-align: center;
}

#ai-ships-left h3 {
  text-align: center;
  font-size: 2rem;
}

#ai-ships-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  width: 80%;
  padding: 0;
}

#ai-ships-left ul li {
  font-size: 1.2rem;
  background: #fafafa;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 60%;
}

@media only screen and (max-width: 900px) and (max-height: 500px) and (orientation: landscape) {
  #ai-ships-left h3 {
    font-size: 1.2rem;
  }
  #ai-ships-left ul li {
    font-size: 0.8rem;
    margin: 0.3rem;
    padding: 0.3rem;
  }
}

.active {
  opacity: 0.7;
  -webkit-box-shadow: 0px 0px !important;
          box-shadow: 0px 0px !important;
}

.ship-sunk {
  background: green;
  opacity: 0.5;
  -webkit-box-shadow: 0px 0px !important;
          box-shadow: 0px 0px !important;
}

/*  --------------- VERTICAL ------------------- */
.ship-body-vertical {
  width: 80%;
  height: 100%;
  background: #595959;
}

.ship-head-vertical {
  background: -webkit-gradient(linear, left top, left bottom, from(#828282), to(#595959));
  background: linear-gradient(#828282, #595959);
  position: absolute;
  width: 80%;
  bottom: 0px;
  height: 80%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  -webkit-box-shadow: 0 -0.1em 0.3em 0.05em white;
          box-shadow: 0 -0.1em 0.3em 0.05em white;
}

.ship-tail-vertical {
  background: -webkit-gradient(linear, left top, left bottom, from(#595959), to(#828282));
  background: linear-gradient(#595959, #828282);
  position: absolute;
  width: 80%;
  top: 0px;
  height: 80%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  -webkit-box-shadow: 0 0.1em 0.3em 0.05em white;
          box-shadow: 0 0.1em 0.3em 0.05em white;
}

/*  --------------- HORIZONTAL ------------------- */
.ship-body-horizontal {
  width: 100%;
  height: 80%;
  background: #595959;
}

.ship-head-horizontal {
  background: -webkit-gradient(linear, left top, right top, from(#828282), to(#595959));
  background: linear-gradient(0.25turn, #828282, #595959);
  position: absolute;
  width: 80%;
  right: 0px;
  height: 80%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  -webkit-box-shadow: -0.1em 0 0.3em 0.05em white;
          box-shadow: -0.1em 0 0.3em 0.05em white;
}

.ship-tail-horizontal {
  background: -webkit-gradient(linear, left top, right top, from(#595959), to(#828282));
  background: linear-gradient(0.25turn, #595959, #828282);
  position: absolute;
  width: 80%;
  left: 0px;
  height: 80%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  -webkit-box-shadow: 0.1em 0 0.3em 0.05em white;
          box-shadow: 0.1em 0 0.3em 0.05em white;
}

/*  --------------------- HIT ANIMATION -------------- */
.cannonball {
  background: #1c1c1c;
  border-radius: 50%;
  -webkit-animation: drop 2s ease-in;
          animation: drop 2s ease-in;
  z-index: 1;
  position: absolute;
}

@-webkit-keyframes drop {
  from {
    height: 50%;
    width: 50%;
  }
  to {
    height: 10%;
    width: 10%;
  }
}

@keyframes drop {
  from {
    height: 50%;
    width: 50%;
  }
  to {
    height: 10%;
    width: 10%;
  }
}

.flame {
  bottom: 20%;
  position: absolute;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  -webkit-transform: rotate(-45deg) scale(1.5, 1.5);
          transform: rotate(-45deg) scale(1.5, 1.5);
  z-index: 1;
}

.red {
  width: 40%;
  height: 40%;
  background: OrangeRed;
  -webkit-box-shadow: 0px 0px 0.25em 0.125em OrangeRed;
          box-shadow: 0px 0px 0.25em 0.125em OrangeRed;
}

.orange {
  width: 30%;
  height: 30%;
  background: orange;
  -webkit-box-shadow: 0px 0px 0.5em 0.125em orange;
          box-shadow: 0px 0px 0.5em 0.125em orange;
}

.yellow {
  width: 20%;
  height: 20%;
  background: gold;
  -webkit-box-shadow: 0px 0px 0.5em 0.125em gold;
          box-shadow: 0px 0px 0.5em 0.125em gold;
}

.white {
  width: 10%;
  height: 10%;
  background: white;
  -webkit-box-shadow: 0px 0px 0.4em 0.125em white;
          box-shadow: 0px 0px 0.4em 0.125em white;
}

.wave-1-phase1 {
  background: lightgray;
  height: 5%;
  width: 10%;
  position: absolute;
  z-index: 0;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  top: 75%;
  right: 60%;
  border-bottom-left-radius: 50%;
}

.wave-2-phase1 {
  background: lightgray;
  height: 5%;
  width: 10%;
  position: absolute;
  z-index: 0;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  top: 75%;
  right: 70%;
  border-bottom-right-radius: 50%;
}

.wave-3-phase1 {
  background: lightgray;
  height: 5%;
  width: 10%;
  position: absolute;
  z-index: 0;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  bottom: 0%;
  left: 5%;
  border-bottom-right-radius: 50%;
}

.wave-4-phase1 {
  background: lightgray;
  height: 5%;
  width: 10%;
  position: absolute;
  z-index: 0;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  bottom: 0%;
  left: 15%;
  border-bottom-left-radius: 50%;
}

.wave-1-phase2 {
  background: lightgray;
  height: 5%;
  width: 10%;
  position: absolute;
  z-index: 0;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  top: 0%;
  right: 5%;
  border-bottom-left-radius: 50%;
}

.wave-2-phase2 {
  background: lightgray;
  height: 5%;
  width: 10%;
  position: absolute;
  z-index: 0;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  top: 0%;
  right: 15%;
  border-bottom-right-radius: 50%;
}

.wave-3-phase2 {
  background: lightgray;
  height: 5%;
  width: 10%;
  position: absolute;
  z-index: 0;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  bottom: 75%;
  left: 60%;
  border-bottom-right-radius: 50%;
}

.wave-4-phase2 {
  background: lightgray;
  height: 5%;
  width: 10%;
  position: absolute;
  z-index: 0;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  bottom: 75%;
  left: 70%;
  border-bottom-left-radius: 50%;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  cursor: pointer;
}

.hide {
  display: none !important;
}

.fade {
  opacity: 0.3;
}

#grid-container-div {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 13vh 87vh;
      grid-template-rows: 13vh 87vh;
}

.hover-ship-div {
  text-align: center;
  border: 0.2rem solid black;
  background: white;
  opacity: 0.75;
  position: absolute;
  line-height: 0.5rem;
  z-index: 4;
  list-style-type: none;
  padding: 0.3em;
  margin: 0;
  font-family: "Teko", sans-serif;
}

.crossed-out {
  -webkit-text-decoration: line-through red;
          text-decoration: line-through red;
  text-decoration-thickness: 0.2rem;
}

/*  ----------------------  MISS STYLING ------------------- */
.miss {
  font-size: 1.8em;
  color: red;
  font-family: 'Questrial', sans-serif;
}

@media screen and (max-width: 1200px) {
  .miss {
    font-size: 1.2em;
  }
}

.ship-sunk {
  background: red;
}

/* ---------------------    NOTIFICATIONS    ---------------------------- */
.gameover-notification {
  position: relative;
  left: -50%;
  z-index: 5;
  font-size: 15em;
  font-family: "Teko", sans-serif;
  color: brown;
  text-shadow: 0 10px 2px white;
  -webkit-animation: scaleUp 2s;
          animation: scaleUp 2s;
}

@-webkit-keyframes scaleUp {
  from {
    font-size: 1em;
  }
  to {
    font-size: 15em;
  }
}

@keyframes scaleUp {
  from {
    font-size: 1em;
  }
  to {
    font-size: 15em;
  }
}

.gameover-container {
  position: absolute;
  left: 50%;
  top: 15%;
}

#notification-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background: white;
  text-align: center;
  border: 0.5em solid brown;
  left: -50%;
  z-index: 4;
  border-radius: 2em;
}

#notification-box h1 {
  font-size: 3em;
  font-family: "Teko", sans-serif;
  text-transform: uppercase;
}

#notification-container {
  position: absolute;
  left: 50%;
  width: 25vw;
  top: 10%;
}

@media screen and (max-width: 800px) {
  #notification-container {
    width: 45vw;
  }
}
/*# sourceMappingURL=style.css.map */